.cone {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  background-color: antiquewhite;
  width: 10%;
  height: 30%;
  z-index: -1;
  margin: auto;
  background: repeating-linear-gradient(
    45deg,
    burlywood,
    burlywood 2rem,
    wheat 2rem,
    wheat 2.3rem
  );
}

.cup {
  height: 13%;
  width: 80%;
  background: linear-gradient(#f08e4a, #e27b36);
  border-radius: 0 0 30px 30px;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto;
}

.scoop {
  width: 10%;
  height: 20%;
  top: 7%;
  border-radius: 50%;
  margin: auto;
  position: relative;
}

.vanilla {
  background-color: var(--color1, lavender);
}

.chochlate {
  background-color: var(--color1, pink);
}

.strawberry {
  background-color: var(--color1, peachpuff);
}

.seeds1 {
  width: 8%;
  height: 15%;
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(-20deg);
  box-shadow: inset -2px -3px #c9c9c9;
}

.seeds1:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: -170%;
  top: -260%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px 2px #c9c9c9;
}

.seeds1:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: 180%;
  top: -50%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px -3px #c9c9c9;
}

.seeds2 {
  width: 5%;
  height: 17%;
  position: absolute;
  background-color: white;
  left: 30%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(10deg);
  box-shadow: inset -3px 0 #c9c9c9;
}

.seeds2:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: 150%;
  top: -130%;
  border-radius: 40%;
  transform: rotate(90deg);
  box-shadow: inset 1px 3px #c9c9c9;
}
